body {
  background-color: #8EAEBC;
}

h5 {
  font-style: italic;
  text-decoration: underline;
}

.jumbotron {
  background-image: url(../img/bridge.jpg);
  background-repeat: no-repeat;
  background-size: 105%;
  margin-bottom: 10px;
}


#intro {
  padding: none;
}

#output {
  display:none;
}

#output p {
  font-size: 20px;
}
