body {
  background-color: #8EAEBC;

}

h5 {
  font-style: italic;
  text-decoration: underline;
}

.panel-body {
  background-color: #DCD0C6;
}

.container {
  padding: 0;
}

.jumbotron {
  background-image: url(../img/bridge.jpg);
  background-repeat: no-repeat;
  background-size: 105%;
  margin-bottom: 10px;
  border: 1px solid;
}

#intro {
  padding-left: 5px;

}

#output {
  display:none;
}

#output p {
  font-size: 20px;
}
